<section class="section details-sect">
  <span class="subsect-return" routerLink="/products">
    Back to All Products
  </span>
  <div class="details-container">
    <div class="details-top">
      <div class="img-container">
        <img src="{{ detailedProduct.imageUrl }}" alt="" />
      </div>
    </div>
    <div class="details-bot">
      <div class="bot-desc">
        <h2>{{ detailedProduct.unitPrice | currency: "EUR" }}</h2>
        <h1>{{ detailedProduct.name }}</h1>
        <p>{{ detailedProduct.description }}</p>
      </div>
    </div>
  </div>
  <div class="bot-btns">
    <button (click)="addToCart()">Add to cart</button>
  </div>
</section>
