<body class="main-page">
  <!-- Navbar -->
  <nav class="nav-container">
    <div class="nav-center">
      <div class="logo-container">
        <img src="/assets/images/logo.png" alt="SBA Store" />
      </div>
      <div class="icons-container">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!-- END Navbar -->
  <main class="main-sect">
    <!-- Banner -->
    <div class="banner-container">
      <div class="banner-img-container">
        <img src="" alt="" />
      </div>
      <div class="banner-text-container">
        <div class="banner-text">
          <h1>SBA Store</h1>
          <h4>Everything you need in one click!</h4>
        </div>
      </div>
    </div>
    <!-- END Banner -->
  </main>
</body>
