<body class="main-page">
  <!-- Navbar -->
  <nav class="nav-container">
    <div class="nav-center">
      <div class="logo-container">
        <img src="/assets/images/logo.png" alt="SBA Store" />
      </div>
      <div class="icons-container">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!-- END Navbar -->

  <main class="main-sect">
    <!-- Banner -->
    <div class="banner-container">
      <div class="banner-img-container">
        <div class="banner-img-overlay"></div>
        <img src="assets/images/bgimage.jpeg" alt="SBA Store" />
      </div>
      <div class="banner-text-container">
        <div class="banner-text">
          <h1>SBA Store</h1>
          <h4>Everything you need in one click!</h4>
        </div>
      </div>
    </div>
    <!-- END Banner -->

    <!-- Categories -->
    <section class="section category-sect">
      <h1 class="section-title">Categories</h1>
      <app-product-category-menu></app-product-category-menu>
    </section>
    <!-- END Categories -->

    <!-- Products -->
    <section class="section products-home-sect">
      <h1 class="section-title">Products</h1>
      <div class="search-container">
        <app-search></app-search>
      </div>
      <router-outlet></router-outlet>
    </section>
    <!-- END Products -->
  </main>

  <footer class="footer-container">
    <div class="footer-center">
      <h2 class="footer-title">Site Map</h2>
      <div class="footer-top">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Help</a>
      </div>
      <div class="footer-bot">
        <a href="#">by PadillaTom</a>
      </div>
    </div>
  </footer>
</body>
