<body class="main-page">
  <!-- Navbar -->
  <nav class="nav-container">
    <div class="nav-center">
      <div class="logo-container" routerLink="/">
        <img src="/assets/images/SBALogo.png" alt="SBA Store" />
      </div>
      <div class="icons-container">
        <app-cart-status></app-cart-status>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!-- END Navbar -->

  <main class="main-sect">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer  -->
  <hr />
  <footer class="footer-container">
    <div class="footer-center">
      <div class="footer-top">
        <h2 class="footer-title">Site Map</h2>
        <div class="footer-links">
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Help</a>
        </div>
      </div>
      <div class="footer-bot">
        <a href="#">by PadillaTom</a>
      </div>
    </div>
  </footer>
</body>
