<section class="section singlepage">
  <h1 class="section-title">Checkout</h1>

  <div class="cform-container container-fluid">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <!-- Customer FormGroup -->
      <div class="form-area" formGroupName="customer">
        <h3>Customer</h3>
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>First Name</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="firstName" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Last Name</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="lastName" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Email</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="email" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
      </div>
      <!-- End Customer FormGroup -->

      <!-- ********** -->

      <!-- Shipping FormGroup -->
      <div class="form-area" formGroupName="shippingAddress">
        <h3>Shipping Address</h3>
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Country</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="country">
                <option value="Country1">Todo</option>
                <option value="Country2">Todo2</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>City</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="city" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Street</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="street" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>State</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="state">
                <option value="Country1">Todo</option>
                <option value="Country2">Todo2</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>ZIP Code</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="zipCode" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
      </div>
      <!-- End Shipping FormGroup -->

      <!-- ********** -->
      <div class="input-space">
        <label class="au-checkbox">
          <input type="checkbox" (change)="useSameShippingAsBilling($event)" />
          <span class="au-checkmark"></span>
          Keep Shipping Address as Billing Address?
        </label>
      </div>
      <!-- ********** -->

      <!-- Billing FormGroup -->
      <div class="form-area" formGroupName="billingAddress">
        <h3>Billing Address</h3>
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Country</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="country">
                <option value="Country1">Todo</option>
                <option value="Country2">Todo2</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>City</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="city" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Street</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="street" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>State</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="state">
                <option value="Country1">Todo</option>
                <option value="Country2">Todo2</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>ZIP Code</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="zipCode" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
      </div>
      <!-- End Billing FormGroup -->

      <!-- ********** -->

      <!-- Credit Card FormGroup -->
      <div class="form-area" formGroupName="creditCard">
        <h3>Credit Card Information</h3>
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Card Type</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <select formControlName="cardType">
                <option value="Visa">Visa</option>
                <option value="AMEX">AMEX</option>
                <option value="Mastercard">Mastercard</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Card Holder</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="cardHolder" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Card Number</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="cardNumber" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Card Security Code</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <input type="text" formControlName="securityCode" />
            </div>
          </div>
        </div>
        <!-- End Single Input -->
        <!-- Single Input -->
        <div class="row">
          <div class="col-md-2">
            <label>Expiration Date</label>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <label> Month</label>
              <select formControlName="expirationMonth">
                <option value="Visa">Mes</option>
              </select>
            </div>
          </div>
          <div class="col-md-9">
            <div class="input-space">
              <label> Year</label>
              <select formControlName="expirationYear">
                <option value="Visa">Anio</option>
              </select>
            </div>
          </div>
        </div>
        <!-- End Single Input -->
      </div>
      <!-- End Customer FormGroup -->

      <!-- Submit -->
      <div class="text-center">
        <button type="submit" class="btn btn-info">Complete Payment</button>
      </div>
    </form>
  </div>
</section>
